[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
yapf = "*"
flake8 = "*"

[packages]
numpy = "*"
gym = "*"
tqdm = "*"
imageio-ffmpeg = "*"
websockets = "*"

[requires]
python_version = "3.8"
